@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-*: initial;
  --font-roboto-mono: var(--font-roboto-mono);
  --font-montserrat: var(--montserrat);
  --font-cabin: var(--font-cabin);

  --color-deep-blue: oklch(var(--color-deep-blue));
  --color-slate-blue: oklch(var(--color-slate-blue));

  --color-wattle-50: var(--color-wattle-50);
  --color-wattle-100: var(--color-wattle-100);
  --color-wattle-200: var(--color-wattle-200);
  --color-wattle-300: var(--color-wattle-300);
  --color-wattle-400: var(--color-wattle-400);
  --color-wattle-500: var(--color-wattle-500);
  --color-wattle-600: var(--color-wattle-600);
  --color-wattle-700: var(--color-wattle-700);
  --color-wattle-800: var(--color-wattle-800);
  --color-wattle-900: var(--color-wattle-900);
  --color-wattle-950: var(--color-wattle-950);

  --color-persian-pink-50: var(--color-persian-pink-50);
  --color-persian-pink-100: var(--color-persian-pink-100);
  --color-persian-pink-200: var(--color-persian-pink-200);
  --color-persian-pink-300: var(--color-persian-pink-300);
  --color-persian-pink-400: var(--color-persian-pink-400);
  --color-persian-pink-500: var(--color-persian-pink-500);
  --color-persian-pink-600: var(--color-persian-pink-600);
  --color-persian-pink-700: var(--color-persian-pink-700);
  --color-persian-pink-800: var(--color-persian-pink-800);
  --color-persian-pink-900: var(--color-persian-pink-900);
  --color-persian-pink-950: var(--color-persian-pink-950);

  --shadow-solid: var(--shadow-solid);
  --shadow-solid-big: var(--shadow-solid-big);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  /*** COLORS ***/

  /* Deep blue */
  --color-deep-blue: oklch(25.59% 0.1077 286.21);

  /* Wattle */
  --color-wattle-50: oklch(0.986 0.031 120.757);
  --color-wattle-100: oklch(0.967 0.067 106.62);
  --color-wattle-200: oklch(0.938 0.127 106.62);
  --color-wattle-300: oklch(0.897 0.196 106.62);
  --color-wattle-400: oklch(0.813 0.158 106.62);
  --color-wattle-500: oklch(0.768 0.233 106.62);
  --color-wattle-600: oklch(0.648 0.2 106.62);
  --color-wattle-700: oklch(0.532 0.157 106.62);
  --color-wattle-800: oklch(0.453 0.124 106.62);
  --color-wattle-900: oklch(0.405 0.101 106.62);
  --color-wattle-950: oklch(0.274 0.072 106.62);

  /* Persian pink */
  --color-persian-pink-50: oklch(0.971 0.014 350.4);
  --color-persian-pink-100: oklch(0.948 0.028 350.4);
  --color-persian-pink-200: oklch(0.899 0.061 350.4);
  --color-persian-pink-300: oklch(0.823 0.12 350.4);
  --color-persian-pink-400: oklch(0.712 0.1712 350.4);
  --color-persian-pink-500: oklch(0.656 0.241 350.4);
  --color-persian-pink-600: oklch(0.592 0.249 350.4);
  --color-persian-pink-700: oklch(0.525 0.223 350.4);
  --color-persian-pink-800: oklch(0.459 0.187 350.4);
  --color-persian-pink-900: oklch(0.408 0.153 350.4);
  --color-persian-pink-950: oklch(0.284 0.109 350.4);

  /* Slate blue */
  --color-slate-blue: oklch(47.95% 0.0658 281.45);

  /*** SHADOWS ***/
  --shadow-solid: 6px 6px 0px 0px var(--color-deep-blue);
  --shadow-solid-big: 10px 10px 0px 0px var(--color-deep-blue);
}
